$card-background: #23252C;
$background-color: #141414;
$footer-color: #353537;
* {
    font-family: 'Work Sans';
    color: white;
}

body {
    background-color: $background-color;
    height: 100vh;
    margin: 0;

    #root {
        
        padding-top: 5rem;
    }
}

.card {
    background-color: $card-background;
    width: 25rem;
    border-radius: 1.25rem;
    margin: 0 auto;

    
}

.profile-img {
    width: 100%;
    height: 20rem;
    border-radius: 1.25rem 1.25rem 0 0 ;
}

header {
    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
}
.about {
    padding: 10px 10px;
}

footer {
    text-align: center;
    background-color: $footer-color;
}


.btn-linkedin {
    background-color: #68B5F9;
    padding: 5px;
}